body {
    padding-top: 70px;
    background-image: url("/img/spiderweb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body, a:hover {
    cursor: url(http://cur.cursors-4u.net/food/foo-5/foo439.cur),
    progress !important;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.navbar-brand > img {
    display: inline;
    height: 30px;
    width: 30px;
}

.navbar-default .navbar-brand {
    padding: 11px;
}

img.media-object {
    padding: 10px;
}

.panel, .navbar, .list-group {
    opacity: 0.9;
    color: black;
}

.panel-default>.panel-heading, .navbar-default {
    background-color: #FA8F36;
}

.navbar-default, .navbar-brand, .navbar-text, .navbar-nav > li > a {
    color: black !important;
}

.list-group-item {
    padding: 10px 30px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
    background-color: #FA8F36;
    border-color: #FA8F36;
}

.btn, .btn:hover {
    background-color: black;
    color: white;
    border: none;
}

.error {
    color: red;
    font-size: large;
}

#delete, #update btn {
    margin: 10px;
}

.row {
    margin-right: 15px;
    margin-left: 15px;
}

.jumbotron {
    opacity: 0.9;
}

#ghost-gif {
    display: block;
    /*margin: -30px auto;*/
    margin-top: -30px;
    margin-right: auto;
    margin-bottom: -30px;
    margin-left: auto;
}

#ads-update{
    position: absolute;
    right: 55px;
    top: 10px;
}
form[action="/ads/delete"]{
    position: absolute;
    right: 0;
    top: 0;
}

.ad-panel {
    position:relative;
}

/*#update-profile {*/
    /*width: 100%;*/
/*}*/